.hide{
    display: none !important;
}

.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background-color: #FDFDFD;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 1px solid #ccc;  
}
#todo-form p, #edit-form p{
   margin-bottom:  .5rem;
   font-weight: bold;
}

.form-control{
    display: flex;
}
.form-control input{
    margin-right: 0.3rem;
}

#cancel-edit-btn{
    margin-top: 1rem;
}

