*{
    padding: 0;
    margin: 0;
    font-family:Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url("../img/fundo-abstrato.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    background-color: #FDFDFD;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #102F5e;
    color: #fff;
}
button:hover > i{
    color: #fff;
}

button i {
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;
}
input,select{
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
